<suite name="spribe">
    <listeners>
        <listener class-name="spribe.listeners.ResponsiveListener"/>
        <listener class-name="spribe.listeners.ResponsiveSuiteListener"/>
    </listeners>

    <test name="Player">
        <packages>
            <package name="spribe.api.tests.*"/>
        </packages>
    </test>
</suite>